@model Web.ViewModels.Home.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<section class="esh-catalog-hero">
    <div class="container">
        <img class="esh-catalog-title" src="~/images/main_banner_text.png" />
    </div>
</section>
<div class="container">
    @if (Model.CatalogItems.Any())
    {
        <div class="esh-catalog-items row">
            @foreach (var catalogItem in Model.CatalogItems)
            {
                <div class="esh-catalog-item col-md-4">
                    <partial name="_product" for="@catalogItem" />
                </div>
            }
        </div>
    }
    else
    {
        <div class="esh-catalog-items row">
            THERE ARE NO RESULTS THAT MATCH YOUR SEARCH
        </div>
    }
</div>

