@model Web.ViewModels.Identity.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="container mt-5">
    <h2 class="text-center">Login</h2>

    @* ViewBag Message *@
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.ErrorMessage
        </div>
    }

    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <form method="post" asp-controller="Identity" asp-action="Login">
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" required />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="PassWord" class="form-label"></label>
                    <div class="input-group">
                        <input asp-for="PassWord" class="form-control" type="password" id="passwordField" required />
                        <button type="button" class="btn btn-outline-secondary" onclick="togglePassword()">
                            <span id="eyeIcon">
                                <!-- 密碼顯示圖示 -->
                                <i class="bi bi-eye"></i>
                            </span>
                        </button>
                    </div>
                    <span asp-validation-for="PassWord" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary w-100">Login</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function togglePassword() {
            const passwordInput = document.getElementById('passwordField');
            const button = event.target;
            const eyeIcon = document.getElementById('eyeIcon');

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                eyeIcon.innerHTML = '<i class="bi bi-eye-slash"></i>';
            } else {
                passwordInput.type = 'password';
                eyeIcon.innerHTML = '<i class="bi bi-eye"></i>';
            }
        }
    </script>
}
